body {
    background-color: #191a1b;
}
a,
s,
.btn-link,
.btn-link:focus,
.icon-btn,
.pretty-link b,
.pretty-link:hover s,
.pretty-link:hover b,
.pretty-link:focus s,
.pretty-link:focus b,
.metadata a:hover,
.metadata a:focus,
a.account-group:hover .fullname,
a.account-group:focus .fullname,
.account-summary:focus .fullname,
.message .message-text a,
.message .message-text button,
.stats a strong,
.plain-btn:hover,
.plain-btn:focus,
.dropdown.open .user-dropdown.plain-btn,
.open > .plain-btn,
#global-actions .new:before,
.module .list-link:hover,
.module .list-link:focus,
.stats a:hover,
.stats a:hover strong,
.stats a:focus,
.stats a:focus strong,
.find-friends-sources li:hover .source,
.stream-item a:hover .fullname,
.stream-item a:focus .fullname,
.stream-item .view-all-supplements:hover,
.stream-item .view-all-supplements:focus,
.tweet .time a:hover,
.tweet .time a:focus,
.tweet .details.with-icn b,
.tweet .details.with-icn .Icon,
.stream-item:hover .original-tweet .details b,
.stream-item .original-tweet.focus .details b,
.stream-item.open .original-tweet .details b,
.client-and-actions a:hover,
.client-and-actions a:focus,
.dismiss-btn:hover b,
.tweet .context .pretty-link:hover s,
.tweet .context .pretty-link:hover b,
.tweet .context .pretty-link:focus s,
.tweet .context .pretty-link:focus b,
.list .username a:hover,
.list .username a:focus,
.list-membership-container .create-a-list,
.list-membership-container .create-a-list:hover,
.new-tweets-bar,
.card .list-details a:hover,
.card .list-details a:focus,
.card .card-body:hover .attribution,
.card .card-body .attribution:focus {
    color: #426DD0;
}
.DashboardProfileCard {
    background-color: #171718;
    border: 1px solid #141313;
    border-radius: 4px;
    color: #eee;
}
.DashboardProfileCard-avatarLink {
    background-color: #171718;
}
.DashboardProfileCard-avatarImage {
    border: 1px solid #141313;
}
.ProfileCardStats-statValue {
    color: #9e9e9e;
}
.ProfileCardStats-statLabel {
    color: #c2c2c2;
}
.u-linkComplex-target {
    color: #c2c2c2;
}
.trend-name {
    color: #eee;
}
.trend-location {
    color: #848484;
}
.module {
    background-color: #171718;
    border: 1px solid #141313;
    border-radius: 4px;
    color: #eee;
}
.module .flex-module {
    background-color: #171718;
    border-radius: 4px;
    border: 0 solid #141313;
    color: #eee;
}
.flex-module-header h3 {
    color: #c2c2c2;
}
.wtf-module .UserSmallListItem {
    border-bottom-color: #141313;
}
.wtf-module .import-prompt .cta {
    border-bottom-color: #141313;
}
.stream-item:not(.no-header-background-module) {
    background-color: #171718;
    border: 1px solid #141313;
    color: #fff;
}
.tweet {
    border: 0 solid #141313;
}
.tweet:hover {
    background-color: #141313;
}
.fullname {
    color: #c2c2c2;
}
.username {
    color: #c2c2c2;
}
._timestamp {
    color: #c2c2c2;
}
.js-new-tweets-bar {
    background-color: #141313;
    border: #000;
    color: #c2c2c2;
}
.js-new-tweets-bar:hover {
    background-color: #0f0f0f;
    border: #000;
    color: #eee;
}
.QuoteTweet-text {
    color: #eee;
}
.home-tweet-box {
    background-color: #0f0f0f;
}
.tweet-user {
    border: 1px solid #0f0f0f;
}
.top-timeline-tweetbox .timeline-tweet-box .tweet-form.condensed .tweet-box {
    color: #626161;
    background-color: #e0dcdc;
}
.top-timeline-tweetbox .timeline-tweet-box {
    border: 1px solid #0f0f0f;
}
.global-nav-inner {
    background-color: #0f0f0f;
}
#global-actions > li > a {
    color: #b8c1d1;
    border-bottom-color: #b8c1d1;
}
.global-nav .search-input {
    color: #626161;
    background-color: #e0dcdc;
}
.EdgeButton {
    background-color: #171718;
    border: 2px solid #c4c4c4;
    color: #c4c4c4;
}
.permalink-tweet,
.permalink-tweet:hover {
    background-color: #171718;
    border: 1px solid #141313;
    color: #fff;
}
.permalink.has-replies .inline-reply-tweetbox {
    border-bottom-color: #141313;
}
.permalink .in-reply-to .tweet,
.permalink .replies-to .tweet,
.permalink .replies-to .ThreadedConversation--loneTweet .stream-tombstone-item {
    border-bottom: #141313;
}
.ProfileCanopy-navBar {
    background-color: #171718;
    border: 1px solid #141313;
}
.ProfileNav-label {
    color: #c2c2c2;
}
.ProfileHeading-content {
    background-color: #171718;
    border: 1px solid #141313;
}
.ProfileHeading-toggleItem.is-active,
.ProfileHeading-toggleItem.is-active:hover,
.ProfileHeading-toggleItem.is-active:focus {
    color: #eee;
}
.ProfileHeaderCard-bio {
    color: #eee;
}
.ProfileHeading-toggle {
    background-color: #171718;
    border: 1px solid #141313;
}
.ActivityItem {
    border-bottom: 1px solid #141313;
}
.NotificationsHeadingContent {
    border-color: #171718;
}
.content-header,
.content-no-header {
    border-color: #171718;
}
.QuoteTweet-container:hover {
    background-color: #141313;
}
.recap-header {
    color: #eee;
    border-bottom: 1px solid #141313;
}
.recap-header .dropdown {
    color: #eee;
}
.WtfLargeCarouselStreamItem-title {
    color: #eee;
}
.ProfileCard {
    background-color: #171718;
    border: 1px solid #141313;
    color: #eee;
}
.ProfileCard-bio {
    color: #eee;
}
.ThreadedConversation-showMoreThreads {
    background-color: #171718;
    border: 1px solid #141313;
    color: #eee;
}
.stream-end {
    background-color: #171718;
}
.ThreadedConversation--header {
    background-color: #171718;
    border: 1px solid #141313;
    color: #eee;
}
.ProfileNav-item--userActions {
    background-color: #171718;
}
.ProfileSidebar .flex-module-header h3 {
    color: #eee;
}
.ProfileHeaderCard h1 {
    color: #eee;
}
.ProfileAvatar {
    background-color: #171718;
    border: 5px solid #171718;
}
.Icon--protected {
    color: #eee;
}
.vellip,
.vellip:before,
.vellip:after,
.conversation-module > li:after,
.conversation-module > li:before,
.ThreadedConversation-tweet:not(.is-hiddenAncestor) ~ .ThreadedConversation-tweet:before,
.ThreadedConversation-tweet:after,
.ThreadedConversation-moreReplies:before,
.ThreadedConversation-viewOther:before,
.ThreadedConversation-unavailableTweet:before,
.ThreadedConversation-unavailableTweet:after,
.ThreadedConversation--permalinkTweetWithAncestors:before {
    border-color: #b7b7b7;
}
.username {
    color: #426dd0;
}
.ProfileTweet-actionCount {
    color: #a0a0a0;
}
.Icon {
    color: #a0a0a0;
}
.stats .stat-count strong {
    color: #a0a0a0;
}
.stats a {
    color: #a0a0a0;
}
.Icon--verified:after {
    color: #000;
}
.LiveVideoHomePageModule-title {
    color: #a0a0a0;
}
.LiveVideoHomePageModule-eventTitle {
    color: #a0a0a0;
}
.DMActivity-header {
    background-color: #171718;
}
.DMActivity-title {
    color: #eee;
}
.DMInboxItem {
    background-color: #171718;
    border-bottom: 1px solid #141413;
}
.DMInboxItem-snippet {
    color: #eee;
}
.DMInbox-content {
    background-color: #171718;
}
.DMConversation-scrollContainer {
    background-color: #171718;
}
.DirectMessage--sent .DirectMessage-text {
    background-color: #ca202d;
}
.DMActivity-body {
    background-color: #171718;
}
.t1-label {
    color: #eee;
}
.DMUpdateName-name {
    color: #eee;
}
.EdgeButton--primary,
.EdgeButton--primary:focus {
    background-color: #292727;
    color: #eee;
    border: 2px solid #cccccc;
}
.EdgeButton:hover {
    background-color: #0288D1;
    border: 2px solid #eee;
    color: #eee;
}
.TweetImpressionsModule-heading {
    color: #eee;
}
.ProfileSidebar .TweetImpressionsModule,
.ProfileSidebar .ProfileLifelineInfo,
.ProfileSidebar .RelatedUsers {
    color: #eee;
    background-color: #171718;
    border: 1px solid #131314;
    border-radius: 4px;
}
.FollowStatus {
    background-color: #000;
    color: #eee;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.username {
    color: #a0a0a0;
}
.inline-reply-tweetbox  {
    background-color: #171718;
    border: 1px solid #141413;
}
.content-main .conversation-module>li.conversation-tweet-item .tweet, .content-main .conversation-module .conversation-header, .content-main .conversation-module .missing-tweets-bar {
    background-color: #171718;
}
.ThreadedConversation-moreReplies {
    background-color: #171718;
    color: #eee;
    border-top: 1px solid #141413;
}